<% layout("/layouts/boilerplate") %>
<div class="container stayContainer">
  <div class="row mb-3 mt-2">
    <div class="col-10">
      <h3 class="showheading mt-2"><%= stay.title%></h3>
      <div class="card">
        <img
          src="<%= stay.image.url%>"
          class="card-img-top showImage"
          alt="stay-image"
        />
        <div class="card-body pl-0 showCardBody">
          <p class="card-text stayDesc">
            <b>Host : <%= stay.owner.username%></b><br />
            <%= stay.description%><br /><br />
            &#8377;<%= stay.price.toLocaleString("en-IN")%> / night
            <br />
            <%= stay.location%> , <%= stay.state%><br />
          </p>
        </div>
      </div>
    </div>

    <div class="reviewContainer col-12">
      <h4 class="mb-4 revTitle">Reviews</h4>
      <div class="allReviews">
        <% for( review of stay.reviews) { %>
        <div class="card reviewItem">
          <p class="card-title mb-0"><b>@<%= review.author.username %></b></p>
          <div class="card-body ps-0 pt-0 reviewCardBody">
            <% for(let i = 0 ; i < review.rating; i++) { %>
            <span><i class="fa-solid fa-star"></i></span>
            <% } %>
            <br />
            <p><%= review.comment %></p>
            <% if(review.author && currUser &&
            review.author._id.equals(currUser._id)) { %>
            <form
              action="/stays/<%= stay._id%>/reviews/<%= review._id%>?_method=DELETE"
              method="post"
            >
              <button class="deleteReviewBtn">Delete</button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="showBtns mt-5 col-5 col-lg-4">
    <% if(currUser && currUser._id.equals(stay.owner._id)) { %>
    <div>
      <a href="/stays/<%= stay._id %>/edit" class="btn mb-3 blueBtn"
        >Edit listing
      </a>

      <form action="/stays/<%= stay._id %>?_method=DELETE" method="POST">
        <button class="btn blueBtn deleteBtn" type="submit">
          Delete listing
        </button>
      </form>
    </div>
    <% } %>
    <div class="border rounded mt-3 p-2">
      <h5>Leave a Review</h5>
      <form
        action="/stays/<%= stay._id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div>
          <fieldset class="starability-basic mt-3">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="second-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="second-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="second-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="second-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="second-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="second-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="second-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="second-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="second-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="second-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div>
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            class="form-control mb-2"
            required
          ></textarea>
        </div>
        <button class="btn btn-outline-dark revBtn p-1 p-lg-2">Submit</button>
      </form>
    </div>
    <% if (currUser) { %>
    <form
      action="/stays/<%=stay._id%>/book"
      method="post"
      class="mt-5 p-2 pt-3 mb-3 border rounded"
    >
      <h5 class="mb-3">Book Stay</h5>
      <label for="checkIn">Pick your check-in date</label>
      <input
        type="text"
        class="form-control mb-2"
        name="booking[checkIn]"
        id="checkIn"
        placeholder="Select Date.."
        required
      />

      <label for="checkOut">Pick your check-out date</label>
      <input
        type="text"
        class="form-control mb-2"
        name="booking[checkOut]"
        id="checkOut"
        placeholder="Select Date.."
        required
      />

      <button class="btn btn-outline-dark">Book</button>
    </form>
    <% } else { %>
    <h5 class="mt-4">Please Login To Book Stay!</h5>
    <%} %>
  </div>
</div>
